html {
	overflow: hidden;
	height: 100%;
	width: 100%;
}



/*----- VARIABLE DECLARATIONS -----*/

:root {
	--accent: #44D2CB;
	--background: #010A4D;
	--header-font: 'Montserrat', 'Julius Sans One', Optima, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	--link-hover: #FF5573;
	--secondary: #377bb5;
}


/*----- HEADER/NAV -----*/

header {
	display: grid;
	grid-template-columns: auto minmax(auto, 1fr) ;
	background-color: var(--background);
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
	z-index: 999;
	text-align: center;
	align-items: center;
	color: #FFF;
}

header h1 {
	font-family: var(--header-font)
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.logo {
	margin: 0;
	grid-column: 2 / span 1;
}

.nav-toggle {
	grid-column: 1 / span 1;
}


nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background-color: var(--secondary);
	width: 20%;
	min-width: 140px;
	transform: scale(1,0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
	z-index: 998;
	opacity: 0.9;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	font-size: 2.5rem;
	text-decoration: none;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
	transition: font-size 100ms ease-in-out;
	color: #FFF;
}

nav a:hover {
	font-size: 2.75rem;
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	display: block;
	transform: scale(1,1);

}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
	color: #FFF;
}

.nav-toggle:checked ~ .nav-toggle-label #label-menu {
	opacity: 0;
	transition: opacity 100ms ease-in-out 100ms;
	color: #FFF;
}

.nav-toggle:checked ~ .nav-toggle-label #label-X {
	opacity: 1;
	transition: opacity 100ms ease-in-out 100ms;
	color: #FFF;
	font-size: 25px;
	font-weight: bolder;
}

.nav-toggle-label {
	position: absolute;
	top:0;
	left:0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}


.nav-toggle-label #label-menu,
.nav-toggle-label #label-menu:before,
.nav-toggle-label #label-menu:after {
	display: block;
	background-color: white;
	height: 3.5px;
	width: 1.75em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label #label-menu:before,
.nav-toggle-label #label-menu:after {
	content: '';
	position: absolute;
	}

.nav-toggle-label #label-menu:before {
	bottom: 9px;
	}

.nav-toggle-label #label-menu:after {
	top: 9px;
	}

.nav-toggle-label #label-X {
	position:absolute;
	opacity: 0;
	left: 10px;
}

#title_bar0 {
	position: absolute;
	top:100%;
	width: 100%;
	height: 1rem;
	background-color: #57D5C3;
	opacity: 0.7
}

#title_bar1 {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 1rem;
	background-color: var(--secondary);
	opacity: 0.7
}

#title_bar2 {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 1rem;
	background-color: var(--secondary);
	opacity: 0.2
}


/*----- BODY -----*/

a {
	font-weight: 900;
}

a:hover {
	text-decoration: none;
}

body {
	background-color: #DFE1EA;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: auto;
	font-family: 'Lato', sans-serif;
	font-size: 18px
}

body a {
	color: #5769D5;
}

section a:hover {
	color: var(--link-hover);
}

.container {
	padding: 2.5rem;
}

h3 {
	/*color: #1B735C;*/
	font-family: var(--header-font)
	margin-bottom: 1.5rem;
}

h4 {
	font-family: var(--header-font)
}

h4 li {
    display: inline;
    padding: 1.5rem;
}

h4 li:first-child {
	padding-left: 0rem;
    margin-left: -4rem; 
}

h4 ul {
    list-style-type: none;
}

h5 {
	margin-top: 2rem;
	font-size: 16px
}

.hrule {
	background-color: #212A6D;
	padding: 0.05rem;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

section {
	padding: 1rem;
}

ul {
    list-style-type: square;
}



/*----- ABOUT ME -----*/

#contact {
	margin-top:4rem;
}

#home {
	margin-top: 7rem;
}

#job-stuff {
	margin-top: 3rem;
}

#job-stuff h4 a {
	white-space: nowrap;
}

#job-stuff h4 li {
	display: inline-block;
	padding-right: 1rem;
}

#photo {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#photo-frame {
	text-align: center;
}


/*----- RESEARCH -----*/

#abstract {
	font-size: 16px;
	color: #606060;
	padding-top: 1rem;
	padding-left: 0.5rem;
	padding-bottom: 1.5rem;
}

.cite {
	padding-left: 1.5rem;
}


.papers {
	margin-left: -2rem;
	margin-top: 2rem;
	counter-reset: paper;
	list-style: none;
}

.papers a {
	font-family: 'Montserrat', 'Julius Sans One', Optima, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-decoration: none;
	font-weight: 900;
}

.papers li {
	padding-bottom: 1rem;
	counter-increment: paper;
}

.papers li::before{
	margin-left: -2rem;
	padding-right: 1rem;
	content: "["counter(paper)"]";
}

#research {
	background-color: #DFE1EA;
	width: 100%;
}


/*----- TEACHING -----*/

#courses {
	margin-top: 1.5rem;
	margin-bottom: 4rem;
}

#courses td {
	border: 1px solid black;
	padding: 1rem;
}

#courses td:first-child {
	width: 50%;
}

#courses tr:nth-child(odd) {
  background-color: rgba(55, 123, 181,0.1);
}

#teaching h3{
	margin-bottom: 4rem;
}

#teaching h5 {
	font-weight: bold;
}

#teaching ul {
	margin-bottom: 3rem;
}



/*----- DESKTOP SETTINGS -----*/



@media screen and (min-width: 1000px) {
	.nav-toggle-label {
		display: none;
	}

	header {
		display: grid;
		grid-template-columns: 1fr auto 1fr minmax(55%, 1fr) 1fr;
		text-align: left;
	}

	header h1 {
		padding-left: 3rem;
	}

	#jump-to-top {
		display: none;
	}

	.logo {
		grid-column: 2 / span 1;
	}

	nav {
		all: unset;
		grid-column: 4 / span 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		opacity: 1;
	}

	nav a{
		font-size: 2.5rem;
		opacity: 1;
		color: #FFF;
		position: relative;
	}

	nav a:after {
		content: '';
		display: block;
		height: 4px;
		background-color: white;
		position: absolute;
		left:0;
		right:0;
		bottom:-0.25em;
		transform: scale(0,1);
		transform-origin: left;
		transition: transform ease-in-out 250ms;
	}

	nav a:hover{
		font-size: 2.5rem;
		color:#FFF;
	}

	nav a:hover::after {
		transform: scale(1,1);
	}

	nav li {
		margin-left: 4rem;
		margin-right: 1rem;
	}

	nav ul {
		display: flex;
		justify-content: flex-end;
	}
}


