html {
	overflow: hidden;
	height: 100%;
}

body {
	background-color: #DFE1EA;
	padding: 0;
	height: 100%;
	overflow: auto;
	font-family: 'Lato', sans-serif;
	font-size: 16px
}

header {
	background-color: #010A4D;
	width:100%;
	margin-top: 2.5rem;	
}

.container {
	padding: 2.5rem;
}

h1 {
	font-family: 'Montserrat', 'Julius Sans One', Optima, "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

h3 {
	/*color: #1B735C;*/
	font-family: 'Montserrat', 'Julius Sans One', Optima, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-bottom: 1.5rem;
}

#job-stuff {
	margin-top: 3rem;
}

h4 {
	font-family: 'Montserrat', 'Julius Sans One', Optima, "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

h4 ul {
    list-style-type: none;
}

h4 li {
    display: inline;
    padding: 1.5rem;
}

h4 li:first-child {
	padding-left: 0rem;
    margin-left: -4rem; 
}

ul {
    list-style-type: square;
}

#research {
	background-color: #DFE1EA;
	width: 100%;
}

#papers {
	margin-left: -2rem;
	margin-top: 2rem;
}

#papers a {
	font-family: 'Montserrat', 'Julius Sans One', Optima, "Lucida Sans Unicode", "Lucida Grande", sans-serif
}


#papers li {
	padding: 0.5rem;
}

h5 {
	margin-top: 2rem;
	font-size: 16px
}

a {
	color: #DA7E00;
	font-weight: 650
}

a:hover {
	color: #A05D00;
    text-decoration: none;
}

section {
	padding: 1rem;
}

.hrule {
	background-color: #212A6D;
	padding: 0.05rem;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

header .container {
	padding-bottom: 0.5rem
}

#title_bar {
	width: 100%;
	padding-bottom: 1rem;
}

#title_bar .hrule {
	background-color: #ffffff;
	width: 100%;
	margin-bottom: 0.5rem;
	padding: 0.1rem;
}

#title_bar0 {
	background-color: #FF9402;
	padding: 0.4rem;
	opacity: 0.7
}

#title_bar1 {
	background-color: #377bb5;
	padding: 0.4rem;
	opacity: 0.7
}

#title_bar2 {
	background-color: #377bb5;
	padding: 0.3rem;
	opacity: 0.2
}

#header-bar {
	color: #FFF;
}

#photo-frame {
	text-align: center;
}

#photo {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}


h4#job-stuff a {
	white-space: nowrap;
}

h4#job-stuff li {
	display: inline-block;
	padding-right: 1rem;
}

#abstract {
	font-size: 14px;
	color: #606060;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-bottom: 1rem;
}